{% extends "mytasks/layout.html" %}

{% block title %}
    MyGoals
{% endblock %}
{% block header %}
    MyGoals
{% endblock %}
{% block body %}
<div style="padding:20px;">
    <form method="POST">
        {% csrf_token %}
        {{ goal_form.as_p }}
        <button class="task__button" type="submit">post</button>
    </form>
                <table style="margin-top:25px;">
                        {% for goal in goals %}
                        <tr>
                        <td style="padding:5px; margin-bottom:-5px; width:530px;">
                            <p class="task__p">{{ goal }} | {{ goal.description }} | {{ goal.due_date }} | {{ goal.completed }}</h1> 
                                <form method="POST" action="{% url 'remove_goal' goal.id %}">
                                    {% csrf_token %}
                                    <button type="submit">del</button>
                        </td>
                        <td style="padding:5px; margin-bottom:-5px;">
                        </td>
                    </tr>
                        {% endfor %}
                </table>
</div>
{% endblock %} 