{% extends "mytasks/layout.html" %}

{% block title %}
    MyTasks
{% endblock %}

{% block body %}
<div style="padding:20px;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <table>
                    <tr>
                        <td style="padding:5px; margin-bottom:-5px;">
                            <form method="POST" action="{% url 'remove_task' task.id %}">
                                {% csrf_token %}
                                <button type="submit">X</button>
                            </form>
                        </td>
                        <td style="padding:5px; margin-bottom:-5px;">
                            {{ task }} 
                        </td>
                    </tr>
                </table>

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %} 