{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RobotFreddie | App:{% block title %}{% endblock %}</title>
        <link href="{% static 'mytasks/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="title-text">{% block header %}{% endblock %}</h1>
            <a href="{% url 'add_goal' %}">Goals</a>
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>